html, body {
	height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.text-description {
	font-family: bell-slim;
	font-weight: bolder;
	-webkit-font-smoothing: antialiased !important;

  padding-bottom: 20px;
}

#body {
	height: 100%;	
}

#bell-left-banner {
	background-color: var(--BELL-BLUE);
}

#status-bar {
	position: absolute;
	padding: 2px 10px 0px 10px;
	font-size: 12px;
	color: white;
	text-align: right;
	bottom: 0px; right: 0px; left: 0px;
	background-color: var(--BELL-DARKGRAY);
}

#startPACO {
	padding-left: 50px;
	padding-right: 50px;
}